@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
  
  font-family: Arial, sans-serif;
 
}

.splash {
  position: relative;
  height: 100vh; 
  background-image: url('/images/picture.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.splash .content {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  max-width: 800px; 
  margin: 0 20px;
}


.splash h1 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin: 0 0 20px;
}


.splash p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0;
  color: #eee;
}

figure.splash{
  margin: 0;
}

.addTopicContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addTopicForm{
  background-color: red;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTopicForm label{
  width: 150px;
}

.addTopicContainer input{
  margin: 5px;
}


.login-reg-panel {
  position: relative;
  top: 50%;
  text-align: center;
  width: 70%;
  right: 0;
  left: 0;
  margin: auto;
  height: 400px;
  background-color: rgba(210, 242, 246, 0.856);
  margin-bottom: 200px;
  margin-top: 100px;
}

.white-panel {
  background-color: rgba(255, 255, 255, 1);
  height: 500px;
  position: absolute;
  top: -50px;
  width: 50%;
  right: calc(50% - 50px);
  box-shadow: 0 0 15px 9px #00000096;
  
}

.login-reg-panel input[type="radio"] {
  position: relative;
  display: none;
}

.login-reg-panel {
  color: #9a9a9a;
}


.login-info-box {
  width: 30%;
  padding: 0 50px;
  top: 20%;
  left: 0;
  position: absolute;
  text-align: left;
}



.login-show {
  color: #242424;
  text-align: left;
  padding: 50px;
}


.login-show input[type="text"],
.login-show input[type="password"] {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}

.register-info-box {
  width: 40%;
  padding: 0 50px;
  top: 20%;
  right: 0;
  position: absolute;
  text-align: left;

}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa-github {
  color: black;
  padding: 10px;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-trash {
  color: red;
  margin: 5px;
}

.fa-pencil {
  color: rgba(22, 23, 18, 0.785);
  margin-left: 10px;
}

.fa-plus-square {
  margin: 10px;
  color: blue;
}

.register-info-box a {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}

.container-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.content-field {
  height: 500px;
}